{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Welcome to b0xIO{% endblock %}
{% block content %}


<center><h2>Welcome to b0xIO!</h2></center>

<form method=get action="{{ url_for('settings') }}">
{{render_field(form.username)}}
{{render_field(form.password)}}
{{form.csrf_token}}
<input type=submit value=Login>
</form>
        </thead>

        
{% endblock%}
