{% extends "layout.html" %}
{% set active_page = active_page|default('dasboard') -%}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}
<script type = "text/javascript">
 $(document).ready(function(){
   $('.img-zoom').hover(function() {
     $(this).addClass('transition');

   }, function() {
     $(this).removeClass('transition');
   });
 });
</script>
<meta http-equiv="refresh" content="60">


<center>
  <h4>Hi {{ current_user.login }}!</h4>



  {{ pagination.info }}
  {{ pagination.links }}
  <form method=post action="{{ url_for('dashboard') }}">
    {{form.entrys_per_page}}
    <input type=submit value="Submit">
  </form>
  <table border=1>
    <thead>
      <th> Hosts </th>
      <th> Infos </th>

            </thead>
      {% for host in items_list %}
    <tbody>
        <td>
          <img class="img-zoom" src="/static/images/{{host[0]}}.png" alt=""><td>{{host[1]}}</td>
        </td>
      </tr>
        {% endfor %}
      <tr>
        <td>
          <img class="img-zoom" src="/static/images/heat_db.png" alt=""><td>This shows heat over</br>
          Time for the System</td>
      </td></tr>
      <tr>
        <td>
         <img class="img-zoom" src="/static/images/pf_stats_bytes_states.png" alt=""><td>This shows bandwith/states</td>
      </tr>
      <tr>
        <td><img class="img-zoom" src="/static/images/counter_bytes.png" alt=""> <td>This is just a byte counter</td>
      </tr>
</tbody>

  </table>


  {{ pagination.links |safe }}
  </br>

  <p id="page"></p></center>
  <center><a href="https://bitbucket.org/onthefly/b0xio">Report Error</a></center>

  {% endblock%}
