{% extends "network.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}


<center><h2>DNS</h2></center>

{% if session.logged_in == True %}
    <a href="{{ url_for('firewall') }}">FIREWALL</a><br>
    <a href="{{ url_for('dns') }}" >DNS</a><br>
    <a href="{{ url_for('dhcp') }}" >DHCP</a><br>
    <a href="{{ url_for('monitoring') }}" >MONITORING</a><br>
    <a href="{{ url_for('network') }}" >NET HOME</a><br>
  {% endif %}

        
{% endblock%}
