{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}


<center><h2>Das Board</h2></center>


        
{% endblock%}
