{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript"></script>

<center><h2>Welcome to boxio</h2></center>
<center>
  <form method=get action="/start_init">
    {{init.init(class_="btn btn-default")}}
  </form>
</center>


{% endblock%}
