<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

    {% block head %}
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
         $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/static/css/style.css">
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script>
           $( function() {
             $( "#tabs" ).tabs(
               { active: 4 });

           } );
          </script>

          <!-- This is okay for development but remove later in prod -->
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

          <!-- Latest compiled and minified JavaScript -->
          <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

          <!-- Latest compiled and minified Locales -->
          <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-de-DE.min.js"></script>
          <!-- This is okay for development but remove later in prod -->

          <script src="/static/js/jquery-modal/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
          <link rel="stylesheet" href="/static/js/jquery-modal/jquery.modal.css" type="text/css" media="screen" />


          <title>{% block title %}boxI0{% endblock %}</title>

      </head>
      {% endblock %}

  {% block body %}
  <body>
    <center><h1>b0xIO Center</h1></center>

    <div class="content">

      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      <div class="page">
        {% if current_user.is_authenticated %}
        <div class="metanav">
          <a href="{{ url_for('dashboard') }}">Dashboard</a>
          <a href="{{ url_for('network') }}">Network</a>
          <a href="{{ url_for('settings') }}">Settings</a>
          <a href="{{ url_for('syslog') }}">Syslog</a>
          <a href="{{ url_for('logout') }}">Logout</a> <br>


        </div>

        {% endif %}
        <div id="content"> {% block content %} {% endblock %}</div>
        <div id="footer">
          <a href="www.openbsd.org">
            <img src="/static/images/powered.gif" height=199 width=199 alt="[OpenBSD 6.0]" style="float:right"></br>
          </a>


          {% block footer %}<br>
          &copy; Copright 2017 by <a href="http://wiki.keksmafia.org/Dirk">Dirk</a>.</div><br>

        </div>

</div>
    {% endblock %}
{% endblock %}
