{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% set active_page = active_page|default('login')  -%}
{% block content %}
{{form.csrf_token}}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <form method=post action="{{ url_for('auth') }}">
    <dl>
      <dt>Username:
      <dd> {{form.username}}
      <dt>Password:
        <dd> {{form.password}}
          <input type=hidden value="{{ next or '' }}" name=next>
      <dt> Remember me: {{form.remember}}
        <dd> {{form.login(class="btn btn-default")}}
    </dl>
  </form>

{% endblock %}
