{% extends "network.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}


<center><h2>Monitoring</h2></center>

{% if session.logged_in == True %}
<a href="{{ url_for('firewall') }}">FIREWALL</a><br>
<a href="{{ url_for('dns') }}" >DNS</a><br>
<a href="{{ url_for('dhcp') }}" >DHCP</a><br>
<a href="{{ url_for('monitoring') }}" >MONITORING</a><br>
<a href="{{ url_for('network') }}" >NET HOME</a><br>
{% endif %}


<center>
  <form method=post action="{{ url_for('monitoring') }}">
    <table border=0>
        <td>{{ form.host_entrys }}</br></td>
      {% for host in host_entrys %}
      <tr>
        <td> 
          {{host.host_name}}<br></td>
        {% endfor %}
      <tr>
        <th> </th>
        <th> </th>
      <tr>

      <tr>
      <tr>
      <tr>
      </tr>
    </table>
  </center>
  <input type=submit value=Save changes>
</form>
    
{% endblock%}
