{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}
{% if session.logged_in == True %}

<div id="tabs"> <!-- Tabs Menu -->
  <ul>
    <li><a href="#tabs-1">Firewall</a></li>
    <li><a href="#tabs-2">DNS</a></li>
    <li><a href="#tabs-3">DHCP</a></li>
    <li><a href="#tabs-4">Network Settings</a></li>
    <li><a href="#tabs-5">Monitoring</a></li>
  </ul>
  <div id="tabs-1">
    <center><h2>Firewall</h2></center>
    <p> Hier kann man irgendwann firewall sachen machen</p>
  </div> <!-- Firewall -->

  <div id="tabs-2">
    <center><h2>DNS</h2></center>
    <p> Here you configure your External DNS Servers... </p>
  </div> <!-- DNS -->

  <div id="tabs-3">
    <center><h2>DHCP</h2>
      <p> {{ render_field(dhcp.subnet) }} {{ render_field(dhcp.netmask) }} </p>
      <p> {{ render_field(dhcp.o_dns) }}  {{ render_field(dhcp.o_routers) }} </p>
      <p> {{ render_field(dhcp.o_iprange) }} </p>
      <p> {{ dhcp.submit(class_="btn btn-default") }} </p>
    </center>
  </div> <!-- DHCP -->

  <div id="tabs-4">
    <center><h2>Network Settings</h2></center>

    <form method=post action="{{ url_for('settings') }}">
      <table border=0>
        <tr>
          <th> </th>
          <th> </th>
          <tr>
            <td>{{ render_field(form.hostname) }}</td>
            <td>{{ render_field(form.localdomain) }}</td>
            <tr>
              <tr>
                <td>{{ render_field(form.lanip_range) }}</td>
                <td>{{ render_field(form.hostname ) }}</td>
                <tr>
                  <td>{{ render_field(form.routerip ) }}</td>
                  <td></td>
                  <td>
                  </td>
                </tr>
      </table>
      {{form.change_dsl(class_="btn btn-default")}}
      {{form.run_dsl(class_="btn btn-default")}}
    </form>
  </div> <!-- Network Settings -->

  <div id="tabs-5"> <!-- Monitoring Settings -->
    <form action="{{url_for('network')}}" method="get" class="login_form modal" id="ex1" style="display:none;">
      <h3>Please fill all Fields</h3>
      <p>{{render_field(addhost_form.hostname)}}</p>
      <p>{{render_field(addhost_form.host_alias)}}</p>
      <p>{{render_field(addhost_form.host_info)}}</p>
      <p>{{addhost_form.addhost(class_="btn btn-default")}}</p>
    </form>

    <form action="" class="login_form modal" id="ex2" style="display:none;">
      <h3>Sorry this will take some time till we support this feature</h3>
    </form>

    <form action="{{url_for('network')}}" method="post" class="login_form modal" id="ex3" style="display:none;">
      <h3>Please Select Host to remove</h3>
      <p>{{render_field(meta_form.hostSelect)}}</p>
      <p>{{meta_form.submitbtn(class_="btn btn-default")}}</p>
    </form>


    <center><h2>Monitoring</h2></center>

    <center>
      <p align="">
        -[ <a href="#ex1" rel="modal:open">Add Host</a> ]-
        -[ <a href="#ex2" rel="modal:open">Edit Host</a> ]-
        -[ <a href="#ex3" rel="modal:open">Remove Host</a> ]-
      </p>
      <table border="0" id="table" data-toggle="table" data-classes="table-hover" >
        <thead>
          <tr>
            <th data-field="state"></th>
            <th data-field="id" data-align="left" data-sortable="true">Hostname</th>
            <th data-field="name" data-align="left" data-sortable="true">Info</th>
          </tr>
        </thead>
        <tbody>
          {% for host in host_entrys %}
          <tr >
            <td></td>
            <td>{{host}}</td>
            <td>{{host.host_info}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </center>



  </div> <!-- Monitoring -->
</div>
{% endif %}
{% endblock%}
