{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% set active_page = active_page|default('settings') -%}
{% block title %}b0xIO Center{% endblock %}
{% block content %}

<center><h2>Settings</h2></center>

<center><p id="page"></p></center>
<script>
  var output = document.getElementById('page');

  var xhr = new XMLHttpRequest();
  xhr.open('GET', '{{ url_for('uptime') }}');
  xhr.send();

  setInterval(function() {
  output.textContent = xhr.responseText;
  }, 1000);
</script>








    <div id="tabs"> <!-- Tabs Menu -->
      <ul>
        <li><a href="#tabs-1">General</a></li>
        <li><a href="#tabs-2">Updates</a></li>
      </ul>
      <div id="tabs-1">
        <center><h2>General</h2></center>

        <form method=post action="lshw"><input type=submit value="Check for updates"></form>
        <form method=post action="reboot"><input type=submit value="Reboot Router"></form>
        <form method=post action="halt"><input type=submit value="Poweroff Router"></form>
        <table>
          <tr>

            <tr>

              <tr>
        </table>
        <h2>Change Password</h2>
        <form method=post action="{{ url_for('settings') }}">
          {{ render_field(form.passwd) }} {{ render_field(form.confirm) }}
          <input type=submit value=Save changes>
        </form>

        <p> Hier kann man irgendwann firewall sachen machen</p>
      </div> <!-- Firewall -->

      <div id="tabs-2">
        <center><h2>Updates</h2></center>
        <p> Placeholder updates(system,packages,release upgrade full)... </p>
      </div> <!-- Updates -->


<!--<script type="application/javascript">
$(document).ready(function(){
    $("button").click(function(){
        $.getJSON("/json", function(result){
            $.each(result, function(i, field){
                $("th").append( i.split(",") + " " )
                 $("tr").append("<td>" + field + "</td> " )
            });
        });
    });
});
</script>

<button>Get JSON data</button>
<table border=0>
  <tr>
    <th></th>
  <tr>
    <td></td>
  <tr>
</table>-->



{% endblock%}
