{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}b0xIO Center{% endblock %}
{% block content %}


<meta http-equiv="refresh" content="60">

<center><h2>Syslog</h2></center>
<form method="get" action="{{ url_for('syslog')}}">
  <p>
    {{render_field(syslog_form.lines)}}
    {{render_field(syslog_form.log_level)}}
    {{syslog_form.download(class_="btn btn-default")}}
    {{syslog_form.turncate(class_="btn btn-default")}}
    {{syslog_form.submit(class_="btn btn-default")}}
  </p>


</form>

<pre id="output">
  <script>
   var output = document.getElementById('output');

   var xhr = new XMLHttpRequest();
   xhr.open('GET', '{{ url_for('stream') }}/{{lines}}');
   xhr.send();

   setInterval(function() {
     output.textContent = xhr.responseText;
   }, 1000);
  </script>
</pre>




{% endblock%}
